<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 class="auth-finish-title"><%= title %></h1>
    <p class="auth-finish-p">Welcome to <%= title %></p>
  </body>
</html>